.reviews-container div {
  margin: 10px 0px;
}

.reviews-container p {
  margin: 10px 0px;
}

.review-stars {
  font-size: 20px;
}

.review-text {
  font-size: 20px;
}

.reviewer-name {
  font-size: 18px;
}

.review-date {
  font-size: 18px;
}

.reviews-container div button {
  font-size: 16px;
  margin-right: 10px;
}

.user-review-modal-button:hover {
  cursor: pointer;
}