.review-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.review-modal-container > h2 {
  font-size: 24px;
  font-weight: bold;
  width: 80%;
  text-align: center;
}

.review-input {
  margin: 15px 0px;
  width: 375px;
  border: 3px solid black;  
  height: 150px;
  resize: none;
  background-color: white;
  font-size: 18px;
  color: black;
  border-radius: 5px;
}

.Review-submit-button {
  margin: 10px auto;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid grey;
  color: rgb(117, 117, 117);
  border-radius: 5px;
}

.Review-submit-button-enabled {
  margin: 10px auto;
  font-size: 15px;
  display: block;
  width: 100%;
  height: 50px;
  border: 2px solid black;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.Review-submit-button-enabled:hover {
  cursor: pointer;
}

.star-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-rating {
  font-size: 30px;
}

.star-rating:hover {
  cursor: pointer;
}

.star-rating-container > h3 {
  margin-left: 10px;
}