.product-details-container {
  padding: 40px;
}

.product-name-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-edit-delete-buttons {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.product-edit-delete-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 3px;
}

.product-details-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.image-nav-button:hover {
  color: #ccc;
}

.image-nav-button:first-child {
  left: 0;
}

.image-nav-button:last-child {
  right: 0;
}

.description-price-button-container {
  display: grid;
  grid-template-columns: 80% 20%;
}

.product-description {
  font-size: 30px;
}

.price-button-container {
  width: 100%;
  text-align: right;
  padding-bottom: 20px;
}

.price-button-container > p {
  font-weight: bold;
  font-size: 20px;
  padding-right: 22px;
}

.price-button-container > button {
  background-color: black;
  color: white;
  border-radius: 3px;
  height: 55px;
  width: 130px;
  font-size: 15px;
}

.price-button-container > button:hover {
  cursor: pointer;
}

.review-button-text {
  padding: 15px 30px;
  font-size: 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.review-button-text:hover {
  cursor: pointer;
}