.profile-button-container {
    position: relative; 
    display: inline-block; 
  }
  

  .profile-icon {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
    padding: 5px;
  }
  
  .profile-icon:focus {
    outline: none;
  }
  

  .profile-dropdown {
    position: absolute;
    top: 40px; 
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    z-index: 10;
    min-width: 150px; 
  }
  

  .dropdown-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
    text-align: center;
  }
  
  .dropdown-button:hover {
    background-color: #444;
  }
  
.profile-info {
    margin-bottom: 10px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
    padding-bottom: 10px; 
  }
  
  .user-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .user-email {
    font-size: 14px;
    color: #555;
    margin: 0;
  }
  